@import '../../variables.scss';

.signup-form-container {
    h1 {
        color: $dark-primary-color;
    }

    .signup-form {
        display: flex;
        flex-direction: column;
        width: max-content;

        .field-wrapper {
            margin-bottom: 15px;
            padding:0 5px 0 5px;
        }
    }
}
