@import "../../variables.scss";

.grid-container {
    height: 100vh;

    .purple-grid {
        background-color: $dark-primary-color;
        color: $secondary-color;
    }

    .white-grid {
        color: $dark-primary-color;
    }

    .grid-section {
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .col {
            display: flex;
            flex-direction: column;
            h5 {
                margin: 0;
            }
        }
    }

    .hyperlink {
        color: $light-primary-color;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: $dark-primary-color;
        }
    }
}

@media only screen and (max-width: 600px) {
    .grid-container .grid-section {
        width: 100%;
    }
}
