@import '../../variables.scss';

.grid-container {
    height: 100vh;
    .purple-grid {
        background-color: $dark-primary-color;
        color: white;
    }
    .white-grid {
        color: $dark-primary-color;
    }

    .grid-section {
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
