@import '../../variables.scss';

.home-container {
    // height: 100%;
    // text-align: center;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background-color: $dark-primary-color;
    // color: $secondary-color;

    .MuiAppBar-root{
        background-color: $dark-primary-color;
    }

    .hyperlink {
        color: $secondary-color;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: $light-primary-color;
        }
    }
}
