@import '../../variables.scss';

.login-form-container {
    h1 {
        color: $dark-primary-color;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        width: max-content;

        .field-wrapper {
            margin-bottom: 15px;
        }
    }
}
