@import './variables.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $secondary-color;
}

svg {
  color: $dark-primary-color
}

::-moz-selection { 
  color: $light-primary-color;
  background: $dark-primary-color;
}

::selection {
  background: $light-primary-color;
  color: $dark-primary-color;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
